/* General Styling */
* {
    box-sizing: border-box;
}

html {
    height: 100vh;   
}

body {
    background-color: #f8f8f8;
    width:100%;
    min-height: 100vh;
}

/* Header Styling */
.header {
    background-color: #8A897C;
    padding: 32px;
    text-align: center;  
}

.container {
    background-color: #8A897C;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.container h1 {
    font-size: 2rem;
}

.container:hover {
    color: tomato;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(216, 13, 13);
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: aqua;
}

.active {
    font-weight: bold;
    color: #0AE79D;
    border-bottom: 2px solid #0AE79D;
}

/*footer styling */
.footer {
    background-color: #8A897C;
    margin-top: 20px;
    padding: 15px;
    text-align: center;  
}