/* Main Content Styling */
.main-content {
    height: 100vh;
    margin: 0;
    background-image: url('../Images/foodrecipe.jpeg');
    background-size: cover;
    background-position: center;
    color: blue;
    padding: 20px;
    
}

.main-section {
    padding: 100px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.main-section h2 {
    font-size: 2rem;
    color: #3807b3;
    text-align: center;
}

.main-section p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #3807b3;
}

.search-box {
    max-width : 650px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box input {
    width: 70%;
    padding: 10px;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border : 1px solid red
}

.search-box button {
    padding: 10px 20px;
    outline: none;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background-color: red;
    color:#fff;  
    cursor: pointer;
}

/* ================== RESPONSIVE DESIGN ================== */

 /*For screens smaller than 768px (Tablets and smaller) */

@media screen and (max-width: 768px) {
    .header, footer {
        padding: 20px; 
    }

    .container {
        flex-direction: column; 
        padding: 10px; 
        text-align: center; 
    }

    .container h1 {
        font-size: 1.5rem; 
    }

    nav {
        flex-direction: column; 
        margin-right: 0; 
        margin-top: 10px; 
    }

    nav a {
        font-size: 1rem; 
        padding: 8px; 
    }

    .main-content {
        height: auto; 
        padding: 10px; 
    }

    .main-section {
        padding: 50px 20px; 
    }

    .main-section h2 {
        font-size: 1.5rem; 
    }

    .main-section p {
        font-size: 1rem; 
    }

    .search-box {
        flex-direction: column; 
        max-width: 100%; 
    }

    .search-box input {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .search-box button {
        width: 100%; 
    }

    .footer {
        padding: 20px; 
    }
}