/* General Styling */
* {
    box-sizing: border-box;
}

html {
    height: 100vh;   
}

body {
    background-color: #f8f8f8;
    width:100%;
    min-height: 100vh;
}

/* Header Styling */
.header {
    background-color: #8A897C;
    padding: 32px;
    text-align: center;  
}

.container {
    background-color: #8A897C;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.container h1 {
    font-size: 2rem;
}

.container:hover {
    color: tomato;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(216, 13, 13);
    font-size: 1.1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: aqua;
}

/* Main Content Styling */
.main-content {
    width: 90%;
    margin: 30px auto;
    padding: 20px;   
}

.recipe-section {
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}

.recipe-card {
    background-color: #fff;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

/*footer styling */
.footer {
    background-color: #8A897C;
    padding: 32px;
    text-align: center;  
}

/* ================== RESPONSIVE DESIGN ================== */

/* For screens smaller than 768px (Tablets and smaller) */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;  
        align-items: center;     
    }

    .header, footer {
        padding: 20px;  
    }

    nav a {
        margin-left: 0;
        font-size: 18px;  
    }

    .recipe-section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
    }

    .recipe-card {
        margin: 20px 0;  
    }
}
